GuessTheNumber/GuessTheNumber/Debug/
Debugging Exercise/Debugging Exercise/x64/Debug/
BattleArenaHome/BattleArena/Debug/
*.db
*.suo
BattleArenaHome/Debug/
Debugging Exercise/x64/Debug/
GuessTheNumber/Debug/
TicTacToe/TicTacToe/Debug/
File IO - Binary/File IO - Binary/bin/Debug/
File IO - Binary/File IO/Debug/
File IO - Binary/File IO - Binary/obj/Debug/
File IO - Binary/Debug/
FileIOExercise/FileIOExercise/Debug/
